
<header class="map__header">
  <h1>City Name, Country</h1>
  <h3>Plan the perfect night</h3>
</header>
    <div class="content">

<!-- ASIDE , this goes on every page except the first landing page -->
    <aside class="aside">
        <div class="aside__header">
          <h1>Date Night</h1>
          <p>
            So you want to go out on a hot date? Here is what we suggest...
          </p>
          <ul>
            <li>Drinks</li>
            <li>Dinner</li>
            <li>Dancing</li>
          </ul>
          <p>
            Drag and drop things you want to save for your night.
          </p>
          <img class="aside__header__icon" src="img/icon.png">

        </div>
      <div class="aside__content">
        <h1 class="category">Your choices</h1>


          <div class="aside__drop">
            <div class="venue">
              <!-- <div class="venue__img">
                <div class="venue__title">
                  <h1>This is a BAR</h1>
                  <h3>Neighborhood</h3>
                </div>
                <h4>3.4</h4>
              </div>
              <div class="venue__info">
                <h3>Cuisines:</h3>
                <h3>Info here.</h3>
                <i class="fa fa-star"></i>
              </div>
              <div class="aside__drop__info">
                <h3>Drinks before dinner</h3>
                <i {{action "remove" business}} class="fa fa-times-circle"></i>
              </div> -->
            </div>
          </div>

          <div class="aside__drop">
          </div>

            <div class="aside__drop">
            </div>

        <button type="button" name="button">Reset</button>
        <button type="button" name="button">Next</button>
      </div>
    </aside>
<!-- END of ASIDE -->


<!-- MAP section, each question will bring up a map section with different cards, with ASIDE -->
<section class="map">

  <div class="map__google">
    {{google-map}}
  </div>


  <h1 class="category">Drinks</h1>
  <div class="map__footer">
    {{log foursquareApi.foursquareDrinks}}

    <!-- {{card-tile businesses=foursquareApi.foursquareDrinks}} -->
    {{#each foursquareApi.foursquareDrinks as |business|}}
    <div class="venue">
        {{card-tile business=business}}
    </div>
    {{/each}}

  </div>

  <h1 class="category">Dinner</h1>
    <div class="map__footer">
      {{#each foursquareApi.foursquareDinners as |business|}}
      {{log business.location}}
        <div class="venue">
          {{card-tile business=business}}
        </div>
      {{/each}}
    </div>


  <h1 class="category">Activities</h1>
  <div class="map__footer">
    {{#each foursquareApi.foursquareArts as |business|}}
      <div class="venue">
        {{card-tile business=business}}
      </div>
    {{/each}}
  </div>
  <button id='spin' type="button" name="button">I'm feeling lucky</button>
</section>


</div>

<!-- END of CONTENT -->
